
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  border-radius: 10%;
}


.login-card {
  background: #fff;
  padding: 3rem 2.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
  transition: all 0.3s ease;
}

.login-card:hover {
  transform: translateY(-5px);
}

.login-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.login-subtitle {
  color: #666;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.login-form input {
  display: block;
  width: 100%;
  padding: 0.9rem 1rem;
  margin-bottom: 1rem;
  border: 2px solid #ddd;
  border-radius: 0.8rem;
  font-size: 1rem;
  outline: none;
  transition: 0.3s;
}

.login-form input:focus {
  border-color: #2575fc;
  box-shadow: 0 0 5px rgba(37, 117, 252, 0.3);
}

.login-btn {
  width: 100%;
  background: #FF8A00;
  color: white;
  font-weight: bold;
  padding: 0.9rem;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease;
}

.login-btn:hover {
  background: #FF8A00;
  transform: scale(1.02);
}

.login-links {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.login-links a {
  color: #000000;
  text-decoration: none;
  font-size: 0.9rem;
  transition: 0.2s;
}

.login-links a:hover {
  text-decoration: underline;
}

.error-message {
  color: #ff4d4d;
  background: #ffe5e5;
  border-radius: 8px;
  padding: 8px 12px;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}